body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: radial-gradient(circle at top, #0ff, #050505);
  color: white;
}

.card {
  width: 360px;
  margin: 120px auto;
  padding: 30px;
  background: rgba(0,0,0,.6);
  border-radius: 14px;
  box-shadow: 0 0 40px rgba(0,255,255,.3);
}

h2 {
  text-align: center;
  color: #00ffff;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00ffff;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
